img {
    max-width: 100%;
    max-height: 80vh;
}

.heading-logo {
    max-height: 6rem;
    position: relative;
    top: -0.5rem;
}

h1.display-1 {
    margin-top: 0;
}

h1,
h2,
h3,
h4 {
    margin-top: 1em;
}

nav.table-of-contents ul {
    padding-left: 0;
    list-style: none;
}

nav.table-of-contents ul ul {
    padding-left: 40px;
    list-style: none;
}

p code {
    white-space: nowrap;
}

pre {
    background-color: #f8f9fa;
    padding: 1rem;
}

blockquote {
    padding: 0 1em;
    color: #6c757d;
    border-left: 0.25em solid #dfe2e5;
}
