body {
    margin: 0px;
    padding: 1px;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

body.error {
    color: var(--white);
    background-color: var(--danger);
}

body.warning {
    color: var(--dark);
    background-color: var(--warning);
}

#error-icon,
#warning-icon {
    display: none;
}

body.error #error-icon,
body.warning #warning-icon {
    display: unset;
}

h1 {
    margin: 0px;
    padding: 0px 10px;
    text-align: center;
    font-size: min(60vh, 30px);
}
